################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projeto_WindowsForms_Web/.vs/Projeto_Folha_Pagamento/FileContentIndex/816bcbc6-0297-4ce3-9e07-9525e04eacc5.vsidx
